@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");

html {
  font-family: "Kanit", sans-serif;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: center;
  background-color: #1c313a !important;

}

* {
  font-family: "Kanit", sans-serif;
}

.pageWrap {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  min-height: 100%;
}

/* Login */
#loginForm {
  border: thin solid rgb(31, 29, 29, 0.3);
  border-radius: 9px;
  width: 500px;
  padding: 25px;
  margin:100px 0 0 0;
  color: #fff;
}

#googleBtn {
  float: right;
}

#errorContainer {
  text-align: center;
  position: relative;
  top: 100px;
  margin: 0 auto;
  width: 500px;
}

header {
  color: rgb(32, 32, 32);
  margin: 0 0 20px 0;
  background-color: #c9e2ee;
}

.logoutLink {
  color: rgb(46, 129, 238);
  margin-right: 200px;
}

.logoutLink:hover {
  color: rgb(14, 187, 255);
}

.appTitle {
  margin-left: 50px;
  padding: 10px;
  color: rgb(32, 32, 32);
}

.indexTitle {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

#welcomeMsg {
  margin-left: 950px;
}

#loginForm {
  background: #1d1d1d;
}

/* Chatroom List */
.list-group {
  width: 700px;
  margin: 15px 0 0 15px;
}

.chatroomBlock {
  border: thin solid white;
  border-radius: 10px;
  width: 700px;
  height: 220px;
  padding: 10px;
  margin: 15px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  background: white;
}

.chatroomBlock ul {
  list-style-type: none;
  text-align: right;
  align-self: center;
  font-size: 24px;
}

.imgContainer {
  height: 200px;
  width: 200px;
  border: thin solid rgba(80, 95, 110, 0.205);
  border-radius: 10px;
  align-self: center;
}

.imgContainer.img1 {
  background-image: url("../assets/hawaiianPizza.jpg");
  background-size: cover;
  background-position: 60%;
}

.imgContainer.img2 {
  background-image: url("../assets/Silicon-Valley-spaces-vs-tabs.png");
  background-size: cover;
  background-position: 40%;
}

.imgContainer.img3 {
  background-image: url("../assets/airpod.jpg");
  background-size: cover;
  background-position: 60%;
}

/* Chatroom */
h1 {
  color: #fff;
}

#back {
  color: rgb(111, 233, 255);
}

#chatbox,
#chatbox2,
#chatbox3 {
  border: thin solid rgb(34, 33, 33, 0.4);
  background-color: rgb(27, 27, 27);
  border-radius: 5px;
  padding: 10px;
  width: 800px;
  height: 500px;
  overflow-y: auto;
  margin-bottom: 10px;
}

#chatbox {
  background-image: url("../assets/pineapple.jpg");
  background-repeat: repeat;
  background-size: 10%;
}

#chatbox2 {
  background-color: rgb(36, 118, 172);
}

#chatbox3 {
  background-color: rgb(167, 198, 218);
}

.shadow-textarea textarea.form-control {
  padding-left: 0.8rem;
}

#msgBox {
  border: thin solid rgb(34, 33, 33, 0.3);
  background-color: white;
  height: auto;
  width: 60%;
  padding: 10px;
  margin: 10px auto 10px auto;
  border-radius: 9px;
  word-wrap: break-word;
}

#sendMsg,
#sendMsg2,
#sendMsg3 {
  margin: 0 0 10px 0;
}

#newMsg #newMsg2,
#newMsg3 {
  width: 800px;
  margin: 0 auto;
}

/* Footer */
#footer {
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #2d2e2e;
  color: #fff;
  position: absolute;
  padding:0 0 8vh 0;
  bottom: 0;
  flex-shrink: 0;
}

#copyright {
  margin:20px 0 0 0;
  color: rgb(255, 255, 255);
}
